@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");

.container-add{
    font-family: 'Mitr', sans-serif;
    width: 40%;
    margin-left: 30%;
}

.input_text{
    background-color: rgba(255, 255, 255, 0.356);
    padding: 5% 5%;
    border-radius: 15px;

}

.container{
    font-family: 'Mitr', sans-serif;
}

.search-data  {
    font-family: FontAwesome;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }

.form-control::placeholder { 
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

.row{
    margin: 15px;
    text-transform:capitalize;
}

.form-control{
    text-transform:capitalize;
}

.alert-info{
    text-transform:capitalize;
}

.email{
    margin: 15px;
}

.email .form-control{
    text-transform: lowercase;
}

.show-email{
    text-transform: lowercase;
}

input:invalid+span:after {
  position: absolute; 
  content: '✖';
  padding-left: 5px;
  color: #8b0000;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: #009000;
}

.card-title{
    font-family: 'Mitr', sans-serif;
    text-align: center;
    font-size: 40px;
}

.card-title-list{
    font-family: 'Mitr', sans-serif;
    font-size: 35px;
}

.alert{
    display: flex;
    list-style: none;
    padding: 15px 15px 0px 15px;
}

.alert button{
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 18px;
    margin-top: 3%;
    height: 20%;
    width: 15%;
}

.alert .table{
    margin-left: 20px;
    font-size: 16px;
}

.btn-edit{
    background-color: #d9edf7;
    color: rgb(86, 88, 102);
}

.btn-delete{
    background-color: #d9edf7;
    color: rgb(86, 88, 102);
}

.btn-edit:hover{
    border-color: rgb(85, 148, 243); 
    background-color:rgb(85, 148, 243); 
    color: rgb(255, 255, 255);
}

.btn-delete:hover{
    border-color: rgb(243, 85, 85); 
    background-color:rgb(243, 85, 85); 
    color: rgb(255, 255, 255);
}

.image{
    margin-left: 13px;
}

.s {
    display: flex;
    list-style: none;
    width: 100%;
}

.s h5 {
    margin-right: 2% ;
}


